<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> 
    input{
        display: block;
    }
    .contain > div{
        width: 40px;
    }
    </style>
</head>
<body>
    <div style="display: flex; justify-content: center">
        <div>
            <h2>Login</h2>
            <form action="/login-user" method="POST">
                <input type="email", name="email" placeholder="Email" autocomplete="off">
                <input type="password", name="password" placeholder="Password" autocomplete="off">
                <button>Login</button>
            </form>
            <a href="/register">Dont you have an account?</a>
        </div>
    </div>
</body>
</html>